.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1200px;
    background: linear-gradient(135deg, #e0e0e0, #ffffff);
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.3s ease-out forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

.card {
    overflow: hidden;
    width: 350px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #360033 0%, #0B8793 100%);
}

.card-back {
    transform: rotateY(180deg);
    background: linear-gradient(90deg, #360033 0%, #0B8793 100%);
}

.show-register .card-inner {
    transform: rotateY(180deg);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.toggle-button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #360033 0%, #0B8793 100%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
